<p>
  <strong>Comment:</strong>
  <%= comment.text %>
</p>

<h3> <%= comment.likes.count %> Comment Likes</h3>
<%= comment_like_button(comment) %>

<%= comment_report(comment) %>

<%= comment_reply(comment) %>

<p>
  <%= link_to 'Destroy Comment', comment,
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>
