<%= form_with(model: [ object, path_type ], local: true) do |form| %>
  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
    <%= form.hidden_field 'commentable_id', value: object.id %>
    <%= form.hidden_field 'commentable_type', value: type %>
    <%= form.hidden_field 'parent_id', value: parent_id %>
  </p>
  <p>
    <%= form.submit "Post" %>
  </p>
<% end %>
