<p>
  <strong>Profile Picture:</strong><br>
  <%= image_tag @user.image_url, size: 200, class: "rounded-circle"  if @user.image %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.first_name + ' ' + @user.last_name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @user.birthday %>
</p>

<p>
  <strong>About:</strong>
  <%= @user.about %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_registration_path %> |
<%= link_to 'Back', 'javascript:history.go(-1);' %>
