<%= tinymce %>
<%= form_with(model: @post, local: true) do |form| %>

  <%= render 'shared/form_errors', object: form.object %>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title, required: true, maxlength: 100 %>
  </p>

  <p>
    <%= form.label :image %><br>
    <%= form.file_field :image, required: true, accept: 'image/png, image/jpeg, image/webp' unless @post.image%>
    <%= form.file_field :image, required: false, accept: 'image/png, image/jpeg, image/webp' if @post.image%>
  </p>

  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text, :class => "tinymce", :rows => 20, :cols => 120 %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>
