<%= tinymce %>
<%= form_with(model: @suggestion, local: true) do |form| %>

  <%= render 'shared/form_errors', object: form.object %>

  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text, required: true, :class => "tinymce", :rows => 20, :cols => 120 %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>
