<h1>Reported <%= @reportable_type %>s</h1><br>
<div class="container-fluid">
  <% @reports.each do |report| %>
    <% reportable = report.reportable %>
    <% user = reportable.user %>
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <%= image_tag user.image_url, size: 25, class: "rounded-circle"  if user.image %>
          <%= image_tag "dp-avatar", size: 25, class: "rounded-circle"  unless user.image %>
          <small><%= user.username %></small>
        </div>
        <div class="card-body">
          <h5 class="card-title">
          <%= reportable.title if reportable.instance_of?(Post)%>
          <%= reportable.text if reportable.instance_of?(Comment)%>
          </h5>
        </div>
        <div class="card-footer">
          <% report_user = report.user %>
          Reported by
          <%= image_tag report_user.image_url, size: 25, class: "rounded-circle"  if report_user.image %>
          <%= image_tag "dp-avatar", size: 25, class: "rounded-circle"  unless report_user.image %>
          <small><%= report_user.username %></small>
        </div>
        <%= link_to '', polymorphic_path(reportable), class: "stretched-link" %>
      </div>
      <%= link_to 'Un-publish', polymorphic_path(reportable, 'post[status]': 'unapproved'),
                  method: :patch if reportable.instance_of?(Post)%>
      <%= link_to 'Delete', polymorphic_path(reportable),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %>
    </div><br>
  <% end %>
</div>
